
<ion-content padding class="cards-bg">
  <img src="assets/img/ura_logo.png" alt="" class="logo">
  <h4 class="apptitle">IoT Classroom</h4>
  <ion-card>

  <ion-card-header>
    Email login
  </ion-card-header>

  <ion-card-content>
    <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>
  <button ion-button full color="secondary">Login</button>
  </ion-card-content>

</ion-card>
  
  
  <h3>Social login</h3>
    <button ion-button full icon-left color="facebook" (click)="facebookLogin()">
      <ion-icon name="logo-facebook"></ion-icon>
      Login with Facebook
    </button>
    <button ion-button full icon-left color="danger" (click)="googleLogin()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Login with Google
    </button>
</ion-content>
