page-home {

    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
            img {
                height:100px
            }
        }

        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }

    }

    ion-icon{
            &.active{
                color:green !important;
            }
            &.sleeping{
                color:red;
            }

    }

}
