<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
 
  <ion-list *ngIf="userProfile">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="userProfile.picture" />
      </ion-avatar>
      <h2>{{ userProfile.name }}</h2>
      <p>{{userProfile.email}}</p>  
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header>
      Available classes
    </ion-list-header>

    <ion-item>
      <ion-icon name="ios-school" item-left></ion-icon>
        <h2>Oracle IoT Workshop</h2>
        <button ion-button small item-right color="secondary" (click)="backendLogin()" *ngIf='!courses'>
        Attend 
      </button>
      <p *ngIf="!courses">Attend course to view info.</p>
      <p *ngIf="activeCourse">{{activeCourse.name}}</p>
      <button ion-button small item-right outline color="danger" *ngIf='activeCourse && !activeCourse.started'>Not started</button>
      <button ion-button small item-right outline color="secondary" *ngIf='activeCourse && activeCourse.started'>Started</button>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-leaf" item-left></ion-icon>
        <h2>Herbology</h2>
        <button  ion-button small item-right outline color="primary" (click)="fakeBackendLogin()">
        Attend 
      </button>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-flask" item-left></ion-icon>
        <h2>Mixology</h2>
        <button  ion-button small item-right outline color="primary" (click)="fakeBackendLogin()">
        Attend 
      </button>
    </ion-item>
  </ion-list>

  
   <!--<div *ngIf="!studentId">
   <button  ion-button full icon-left color="secondary" (click)="backendLogin()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Enroll in class! 
    </button>
    <small>This will create a user account for you</small>
  </div>-->
</ion-content>